@use "../../../styles/variables" as *;

.cta-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;

  // use your accent color
  background-color: $color-red-dark;
  color: $color-light;
  font-weight: 600;
  font-size: 1rem;

  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  margin-right: 2.5rem;

  &:hover {
    background-color: darken($color-red-dark, 5%);

    .my-icon {
      background-color: darken($light-text, 5%);
    }
  }

  &:active {
    transform: scale(0.97);
  }

  .my-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $light-text;
  }
}
