<mat-toolbar class="nav-bar">
  <div class="nav-bar__left-section">
    <app-icon-eye
      [size]="20"
      variant="plain"
      style="color: #edf2f4"
    ></app-icon-eye>
    <button mat-button routerLink="/insights">Your Insights</button>
  </div>
  <span class="spacer"></span>
  <div class="nav-bar__left-section">
    <app-cta label="Upload File" icon="plus"></app-cta>

    <button mat-icon-button aria-label="Profile">
      <lucide-icon [img]="User" class="my-icon"></lucide-icon>
    </button>
  </div>
</mat-toolbar>
