@use "../../../styles/variables" as *;
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 1000;
  background-color: $color-bg-dark;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: ($color-bg-dark, 5%) &__left-section {
    display: flex;
    align-items: center;
  }
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.app-icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.my-icon {
  margin-right: 8px;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 16px;
}

.button-insights {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
