// Base
$color-bg-dark: #22100e;
$color-bg-card: #2b1111;
$color-border: #5c2020;

// Text
$color-text-primary: #fefffe;
$color-text-muted: #b8b8b8;

// Accent
$color-accent: #ed1313;
$color-accent-hover: #651011;
