@use "../../../styles/variables" as *;

.upload-box {
  box-sizing: border-box;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px dashed $color-accent-hover;
  border-radius: 8px;
  background-color: $color-bg-card;
  width: min(70%, 920px);
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 3rem;
    width: min(95%, 700px);
  }
}

.first-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: $color-text-primary;
  margin-top: 1rem;
  @media (max-width: 768px) {
    text-align: center;
  }
}

.second-text {
  font-size: 1rem;
  color: $color-text-muted;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.dragover {
  background-color: lighten($color-bg-card, 7%);
}

.file {
  width: min(70%, 920px);
  margin: 0 auto;
  @media (max-width: 768px) {
    width: min(95%, 700px);
  }
}

.file-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.75rem;

  span {
    width: fit-content;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.sheet-options {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  border: 0;
}
