<div>
  <div class="dashboard-title">
    <h2>Upload your Excel File</h2>
    <h3>
      Gain AI-powered insights and generate stunning charts from your data
    </h3>
  </div>

  <app-upload-file
    (columnsChange)="handleColumnsChange($event)"
    (rowsChange)="handleRowsChange($event)"
    (uploadStatusChange)="handleUploadStatus($event)"
  ></app-upload-file>

  @if (hasData && uploadState === 'success') {

  <h3>Choose your Chart Style</h3>

  <div class="charts-list">
    @for (chart of chartVariants; track $index) {
    <app-chart-type
      [icon]="chart.icon"
      [chartName]="chart.name"
      [chartType]="chart.type"
      (targetChange)="onChartTypeClicked($event)"
      [isSelected]="selectedChart === chart.type"
    ></app-chart-type>
    }
  </div>

  @if (hasData && hasSelectedChart) {

  <p>Group duplicate values?</p>
  <input
    type="checkbox"
    [(ngModel)]="groupDuplicates"
    (ngModelChange)="onGroupDuplicatesChange()"
  />

  @if (groupDuplicates) {
  <p>Aggregation type:</p>
  <select
    [(ngModel)]="aggregationType"
    (ngModelChange)="onAggregationTypeChange()"
  >
    <option selected value="avg">Average</option>
    <option value="sum">Sum</option>
    <option value="count">Count</option>
  </select>

  } } } @if (hasData && hasSelectedChart) {
  <div
    style="display: flex; flex-direction: row; align-items: center; gap: 0.5rem"
  >
    <p>Select Category Column (X-Axis)</p>
    <app-tool-tip
      [text]="'Show values horizontally: cities, names, dates...'"
    ></app-tool-tip>
  </div>

  <div class="column-choose">
    @for (column of columns; track $index) {
    <app-choose-column
      (columnSelected)="handleXColumnSelected($event)"
      [columnName]="column"
      [isSelected]="selectedXColumn === column"
    ></app-choose-column>

    }
  </div>

  } @if (hasData && hasSelectedChart) {
  <div
    style="display: flex; flex-direction: row; align-items: center; gap: 0.5rem"
  >
    <p>Select Category Column (Y-Axis)</p>
    <app-tool-tip
      [text]="'Show numeric values verticaly: sales, age, count...'"
    ></app-tool-tip>
  </div>

  <div class="column-choose">
    @for (column of numericColumns; track $index) {
    <app-choose-column
      (columnSelected)="handleYColumnSelected($event)"
      [columnName]="column"
      [isSelected]="selectedYColumn === column"
    ></app-choose-column>

    }
  </div>
  }

  <!--non visual -->
  <app-chart-builder
    [columns]="processedColumns"
    [rows]="processedRows"
    [selectedChart]="selectedChart"
    [yColumn]="selectedYColumn"
    [xColumn]="selectedXColumn"
    (targetChange)="handleTargetChange($event)"
  ></app-chart-builder>

  @if (hasData && hasTarget && hasSelectedChart) {
  <app-chart [target]="target"></app-chart>

  } @if (hasData) {
  <!-- <h3>AI Insights <lucide-icon [img]="Sparkles"></lucide-icon></h3>
  <app-aigeneration></app-aigeneration> -->

  }
</div>
