@use "../../../styles/variables" as *;

:host {
  display: block;
  min-height: 200px;
  padding-top: 96px;
}

div {
  box-sizing: border-box;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px dashed $color-accent-hover;
  border-radius: 8px;
  background-color: $color-bg-card;
  width: 90%;
  margin: 0 auto;
}

.not-generated {
  font-size: 1rem;
  color: $color-text-muted;
  margin-top: 1rem;
  text-align: center;
}
